<!--<div class="menu">
  <a href="login.html">
    Войти
  </a>
</div>-->

<div class="title_website">
<h1>Универсальный электронный читательский билет</h1>
  Более 5 000 библиотек по всей России
</div>

<div class="search_library">
  <form action="" method="get">
    <input name="s" placeholder="Найти книгу..." type="search">
    <button type="submit">Поиск</button>
  </form>
</div>

<div class="add">
<a href="books.html">Перейти к книгам</a> <a href="authors.html">Перейти к авторам</a>
<a href="readers.html">Перейти к читателям</a>
</div>
