<div class="page">

  <div id="profile_personal">
    <p>Пользователь</p>
    <a><img src="https://s135vla.storage.yandex.net/rdisk/f98b6bec60a97f5d1ce47f250dcb6dd3d2a3bb9e7ff054fe08c42ba767f1cf52/60f9789e/rtu-5SeCxazQp0JXI3Y9fXLJeMU1DLoLH4O2_kfGwBUuBceU_BsSaHZIKgy8NkIp_15KX-FlsARclXxcYgiHJg==?uid=0&filename=profile.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&fsize=31634&hid=98b1664af4d566effd7c9598c50327df&media_type=image&tknv=v2&etag=4f8dc8d90bec7f16746087fa85bf01f6&rtoken=BlTFiKdHPVJB&force_default=no&ycrid=na-0989eb8ce7ed4d8b38a883fafb5164c9-downloader7f&ts=5c7b6a0b8e380&s=f449eafe245c67868477c263d660228730cbedd17b5bc7f3e36415d2ab0eb604&pb=U2FsdGVkX19CxvzEskC89FLr7xLdQ7RW0YaSMeY06g97IR2WU0HNLZLfU5zmVJgpGlMHEIUbfNK32ppb7GzDj_-oCNKabHhLDjzDQLK055g" align="middle"></a>
  </div>

  <div id="menu_personal">
    <input type="text" placeholder="Найти книгу..."> <button>Найти</button>
    <p>Сортировать по</p>
    <select id="sorting_id">
      <option value="date">дате возврата</option>
      <option value="title">названиям книг</option>
      <option value="name">фамилиям читателей</option>
    </select>
    <a href="articles.html">На главную</a>
  </div>

  <div class="table">
    <table border="0">
      <tr>
        <td>Название книги</td> <td>Имя автор</td> <td>Фамилия читателя</td> <td>Номер читательского билета</td>  <td>Номер телефона</td> <td>Дата возврата</td> <td>Дата продления</td> <td>Штраф</td></tr>

        <tr><td>Повесть временных лет</td> <td>Нестор Летописец</td> <td>Кузнецов</td> <td>458-559-000</td> <td>8 952 882 31 55</td> <td>03.08.2021</td> <td>-</td> <td>-</td>
      </tr>
    </table>
  </div>
</div>
