<div id="form">
  <%= form_for @reader do |form|%>
    <%= render 'form', f: form %>
    <%= link_to "Вернуться к списку", request.referrer %>
    <%= button_to "Добавить запись", @reader %>
  <% end %>
</div>
