<div id="form">
  <%= form_for @author, as: :author, url: author_path(@author), method: :patch do |form|%>
    <%= render 'form', f: form %>
    <%= link_to "Вернуться к списку", authors_path %>
    <%= form.submit "Изменить" %>
  <% end %>
</div>
