<div class="container">
  <div id="form">
    <%= form_for @book do |form|%>
      <%= render 'form', f: form %>
      <div class="form-button">
        <%= link_to "Вернуться к списку", request.referrer %>
        <%= button_to "Добавить запись", @book %>
      </div>
    <% end %>
  </div>
</div>
