<div class="user_date">
  <div class="anketa_person">
    <br>Читатель<br>
    <form>
         <hr><br>Фамилия<br>
         <input type="text">

         <br>Номер читательского билета<br>
         <input type="text" placeholder="XXX-ХХХ-ХХХ"><br>
         <button>Войти</button>
    </form>
  </div>

  <div class="anketa_library">
    <br>Персонал библиотеки<br>
    <form>
         <hr><br>Логин<br>
         <input type="text">

         <br>Пароль<br>
         <input type="password"><br>
         <button>Войти</button>
    </form>
  </div>
</div>

<div class="button_back">
  <a href="articles.html">На главную</a>
</div>
