// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.books {
  .books-select {
    margin: 10px 0;
    padding: 0 5px;
  }
  select {
    margin: 10px 0;
    width: 100%;
    padding: 0 5px;
    height: 2.5em;
    font-size: 16px;
  }
}
