// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.delete_button
{
  background-color: #ff2b2b;
  padding: 7px;
  border-radius: 5px;
}

.add_book_button
{
  background-color: #32cd32;
  padding: 7px;
  border-radius: 5px;
}
