.page
{
  display: flex;
  //min-width: min-content;
  //flex-basis: fill;
  flex-direction: column;

  @media screen and (max-width: 1200px){
table {
font-size: 0.7em;
}
}
}

.button-right {
  align-self: flex-end;
  text-align: right;
  font-family: sans-serif;
  font-size: 17.5px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  color: var(--main-button-color);
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.button-right:hover {
  border-radius: 15px;
}


.bold {
  font-weight: bold;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size .3s;
}

.bold:hover {
  background-size: 0% 2px;
}

.model-table
{
  font-family: sans-serif;
  font-size: 17px;
  text-align: center;

  background: var(--table-color);
  border: 2px solid var(--table-color);
  border-radius: 5px;

  width: 100%;
  margin-top: 20px;

  column-gap: 9px;

  table {
    width: 100%;
  }

  a
  {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  td
  {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding: 8px;
    background: white;
    border: 2px solid var(--table-color);
    border-radius: 5px;
    word-wrap: break-word;
  }

  .transparent {
    background-color: transparent;
  }

  td > a {
    font-weight: bold;
  }

  td > a.delete_button,
  td > a.add_book_button {
    color: white;
  }
}

a.button_back
{
  align-self: flex-start;
  color: var(--main-button-color);
  border-radius: 5px;
  border: 2px solid;
  background: white;

  padding: 7px;
  text-align: center;
  text-decoration: none;

  font-family: sans-serif;
  font-size: 19px;
  margin-top: 10px;
  cursor: pointer;

  transition: all 0.5s ease-in;
}

a.button_back:hover {
  border-radius: 15px;
}

.delete_button
{
  background-color: var(--main-delete-button-color);
  padding: 7px;
  border-radius: 5px;
  transition: background .3s;
}

.delete_button:hover{
  background: var(--minor-delete-button-color);
}
