<div class="page">

  <div id="profile_user">
    <p>Пользователь</p>
    <a><img src="profile.PNG" align="middle"></a>
  </div>

  <div id="menu_user">
    <input type="text" placeholder="Найти книгу..."> <button>Найти</button>
    <br><p>Сортировать по</p>
    <select id="sorting_id">
      <option value="date">дате возврата</option>
      <option value="title">названию</option>
      <option value="name">автору</option>
    </select>
    <br><a href="articles.html">На главную</a>
  </div>

  <div id="table_user">
    <table border="0">
      <tr>
        <td>Название книги</td> <td>Имя автор</td> <td>Дата возврата</td> <td>Дата продления</td> <td>Штраф</td> <td>Адрес библиотеки</td></tr>

        <tr><td>Повесть временных лет</td> <td>Нестор Летописец</td> <td>03.08.2021</td> <td>-</td> <td>-</td> <td>ул. Королева, 4, микрорайон Академгородок, ТОмск</td>
      </tr>
    </table>
  </div>
</div>
